In [1]:
import pandas as pd

In [2]:
user_csv = pd.read_csv('testcsv.csv')

In [3]:
user_csv

,UserId,UserName,RestaurantType,Cuisine,Rating,Price,subReddits,Interests
0,1,Nikhil Kumar,"Pub, Fast Food, Date Night","Asian, European, Irish",2.5 to 3.5,€€,"programming, productivity, scifi, movies, euro...","business--events, food-and-drink--events, heal..."
1,2,Samantha Lee,"Cafe's, Breakfast/Brunch, Vegan/Vegetarian","American, Middle Eastern, Desserts",3.5 to 4,€€,"food, cooking, baking, recipes, news, gardenin...","fitness--events, food-and-drink--events, music..."
2,3,Michael Chang,"Steakhouses, Fast Food","Burgers, Seafood, Mexican",2.5 to 3.5,€,"funny, pics, gaming, anime, comics, movies, mu...","business--events, food-and-drink--events, heal..."
3,4,Karen Smith,"Family Friendly, Steakhouses, Deli","American, European, Middle Eastern",3.5 to 4,€€€,"aww, advice, beauty, cars, DIY, fashion, food,...","business--events, health--events, music--event..."
4,5,John Doe,"Karaoke, Fast Food","Asian, Desserts, Vegan/Vegetarian",2.5 to 3.5,€,"funny, memes, gaming, movies, news, science, t...","business--events, food-and-drink--events, heal..."
5,6,Emily Williams,"Pub, Cafe's","European, American, Breakfast/Brunch",3.5 to 4,€€€,"AskReddit, todayilearned, worldnews, science, ...","business--events, food-and-drink--events, heal..."
6,7,William Johnson,"Game Night, Steakhouses","Mexican, Seafood, Middle Eastern",3.5 to 4,€€€,"gaming, movies, music, news, science, technolo...","business--events, health--events, music--event..."
7,8,Alexandra Garcia,"Fast Food, Deli","American, Burgers, Desserts",2.5 to 3.5,€,"aww, advice, beauty, cars, DIY, fashion, food,...","business--events, food-and-drink--events, heal..."

In [4]:
user_csv['Interests'][1]

'fitness--events, food-and-drink--events, music--events, arts--events, sports--events'

In [23]:
def event_clear(events):
    clean_list_events=[]
    eventslist=events.split(",")
    for event in eventslist:
        event=event.replace("--events","")
        event=event.replace("-"," ")
        clean_list_events.append(event)
    return clean_list_events

In [25]:
user_csv['EventList']=user_csv['Interests'].apply(event_clear)

In [64]:
user_csv['keys']

,UserId,UserName,RestaurantType,Cuisine,Rating,Price,subReddits,Interests,EventList
0,1,Nikhil Kumar,"Pub, Fast Food, Date Night","Asian, European, Irish",2.5 to 3.5,€€,"programming, productivity, scifi, movies, euro...","business--events, food-and-drink--events, heal...","[business, food and drink, health, music]"
1,2,Samantha Lee,"Cafe's, Breakfast/Brunch, Vegan/Vegetarian","American, Middle Eastern, Desserts",3.5 to 4,€€,"food, cooking, baking, recipes, news, gardenin...","fitness--events, food-and-drink--events, music...","[fitness, food and drink, music, arts, spo..."
2,3,Michael Chang,"Steakhouses, Fast Food","Burgers, Seafood, Mexican",2.5 to 3.5,€,"funny, pics, gaming, anime, comics, movies, mu...","business--events, food-and-drink--events, heal...","[business, food and drink, health, music, ..."
3,4,Karen Smith,"Family Friendly, Steakhouses, Deli","American, European, Middle Eastern",3.5 to 4,€€€,"aww, advice, beauty, cars, DIY, fashion, food,...","business--events, health--events, music--event...","[business, health, music, arts, sports]"
4,5,John Doe,"Karaoke, Fast Food","Asian, Desserts, Vegan/Vegetarian",2.5 to 3.5,€,"funny, memes, gaming, movies, news, science, t...","business--events, food-and-drink--events, heal...","[business, food and drink, health, music, ..."
5,6,Emily Williams,"Pub, Cafe's","European, American, Breakfast/Brunch",3.5 to 4,€€€,"AskReddit, todayilearned, worldnews, science, ...","business--events, food-and-drink--events, heal...","[business, food and drink, health, music, ..."
6,7,William Johnson,"Game Night, Steakhouses","Mexican, Seafood, Middle Eastern",3.5 to 4,€€€,"gaming, movies, music, news, science, technolo...","business--events, health--events, music--event...","[business, health, music, arts, sports]"
7,8,Alexandra Garcia,"Fast Food, Deli","American, Burgers, Desserts",2.5 to 3.5,€,"aww, advice, beauty, cars, DIY, fashion, food,...","business--events, food-and-drink--events, heal...","[business, food and drink, health, music, ..."

In [51]:
events_data=pd.read_csv("EventBrite_Data.csv")

In [52]:
events_data=events_data[~events_data['Event_Summary'].isnull()]

In [53]:
events_data=events_data[~events_data['Event_Description'].isnull()]

In [54]:
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
def clear(data):
    data = data.lower()
    data = data.split()
    data_keywords = [word for word in data if word not in stopwords.words('english')]
    merged_data = " ".join(data_keywords)
    return merged_data

In [57]:
def clear_event_list(list_value):
    list_str=str(list_value).replace(",","")
    data = list_str.lower()
    data = data.split()
    data_keywords = [word for word in data if word not in stopwords.words('english')]
    merged_data = " ".join(data_keywords)
    return merged_data

In [55]:
events_data['Event_Summary_cleared']=events_data['Event_Summary'].apply(clear)
events_data['Event_Summary_cleared']=events_data['Event_Description'].apply(clear)

In [ ]:
events_data['Event_Tag_List']

In [63]:
events_data.head(2)

,Event_Cat,Page,Event_brite_url,Event_Name,Event_Time,Event_Link,Event_Location,Start_date_Event_Page,Event_Title,Event_Summary,Event_Date_Range,Event_Address,Event_Description,Event_Tag_List,Ticket_Fare,Event_Summary_cleared,Event_Description_cleared,TestData
0,business--events,1,https://www.eventbrite.com/d/ireland--dublin/b...,"Jobs Expo Dublin - Saturday, 22nd April, 2023","Sat, Apr 22, 10:00 AM",https://www.eventbrite.ie/e/jobs-expo-dublin-s...,Hogan Suite • Dublin,2023-04-22,"Jobs Expo Dublin - Saturday, 22nd April, 2023",FREE TICKETS will be available via registratio...,"Sat, 22 Apr 2023 10:00 - 16:00 IST",Hogan Suite Croke Park Jones' Rd 1 Dublin,Jobs Expo is returning to Croke Park in 2023! ...,"['Ireland Events', 'Dublin City Events', 'Thin...",NaN,free tickets available via registration 2023.,jobs expo returning croke park 2023! jobs expo...,free tickets available via registration 2023.f...
1,business--events,1,https://www.eventbrite.com/d/ireland--dublin/b...,NIBRT Careers in Biopharma 2023,"Sat, Apr 1, 10:00 AM",https://www.eventbrite.ie/e/nibrt-careers-in-b...,"The Campus, Cherrywood • Dublin",2023-04-01,NIBRT Careers in Biopharma 2023,This free event provides the opportunity to me...,"Sat, 1 Apr 2023 10:00 - 15:30 IST","The Campus, Cherrywood The Campus Cherrywood, ...",The 9th annual NIBRT Careers in Biopharma even...,"['Ireland Events', 'Dublin City Events', 'Thin...",NaN,free event provides opportunity meet biopharma...,9th annual nibrt careers biopharma event retur...,free event provides opportunity meet biopharma...

In [62]:
events_data['TestData'] = events_data['Event_Summary_cleared'] + events_data['Event_Summary_cleared']

In [59]:
import re, math
from collections import Counter

In [60]:
def cosine_similarity_of(text1, text2):
        first = re.compile(r"[\w']+").findall(text1)
        second = re.compile(r"[\w']+").findall(text2)
        vector1 = Counter(first)
        vector2 = Counter(second)
        common = set(vector1.keys()).intersection(set(vector2.keys()))
        dot_product = 0.0
        for i in common:
          
            dot_product += vector1[i] * vector2[i]
        squared_sum_vector1 = 0.0
        squared_sum_vector2 = 0.0
        for i in vector1.keys():
            squared_sum_vector1 += vector1[i]**2
        for i in vector2.keys():
            squared_sum_vector2 += vector2[i]**2
        magnitude = math.sqrt(squared_sum_vector1) * math.sqrt(squared_sum_vector2)
        if not magnitude:
           return 0.0
        else:
           return float(dot_product) / magnitude

In [69]:
import numpy as np
import pandas as pd
import operator
import json

In [70]:
keywords='business, food and drink, health, music'

In [71]:
score_dict = {}
for index, row in events_data.iterrows():
    score_dict[index] = cosine_similarity_of(row['TestData'], keywords)

        
sorted_scores = sorted(score_dict.items(), key=operator.itemgetter(1), reverse=True)
counter = 0

In [72]:
 resultDF = pd.DataFrame(columns=('Event_Name', 'Event_Cat', 'TestData', 'score'))

In [73]:
for i in sorted_scores:
            #print index and score of the city.
            #print(i[0], i[1])
            resultDF = resultDF.append({'Event_Name': events_data.iloc[i[0]]['Event_Name'], 'Event_Cat': events_data.iloc[i[0]]['Event_Cat'], 'TestData': events_data.iloc[i[0]]['TestData'], 'score': i[1]}, ignore_index=True)
            counter += 1

            if counter>4:
                break

/var/folders/pb/3lx26r911cxc2w5l51508hwm0000gn/T/ipykernel_4766/2772976205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultDF = resultDF.append({'Event_Name': events_data.iloc[i[0]]['Event_Name'], 'Event_Cat': events_data.iloc[i[0]]['Event_Cat'], 'TestData': events_data.iloc[i[0]]['TestData'], 'score': i[1]}, ignore_index=True)
/var/folders/pb/3lx26r911cxc2w5l51508hwm0000gn/T/ipykernel_4766/2772976205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultDF = resultDF.append({'Event_Name': events_data.iloc[i[0]]['Event_Name'], 'Event_Cat': events_data.iloc[i[0]]['Event_Cat'], 'TestData': events_data.iloc[i[0]]['TestData'], 'score': i[1]}, ignore_index=True)
/var/folders/pb/3lx26r911cxc2w5l51508hwm0000gn/T/ipykernel_4766/2772976205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultDF = resultDF.append({'Event_Name': events_data.iloc[i[0]]['Event_Name'], 'Event_Cat': events_data.iloc[i[0]]['Event_Cat'], 'TestData': events_data.iloc[i[0]]['TestData'], 'score': i[1]}, ignore_index=True)
/var/folders/pb/3lx26r911cxc2w5l51508hwm0000gn/T/ipykernel_4766/2772976205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultDF = resultDF.append({'Event_Name': events_data.iloc[i[0]]['Event_Name'], 'Event_Cat': events_data.iloc[i[0]]['Event_Cat'], 'TestData': events_data.iloc[i[0]]['TestData'], 'score': i[1]}, ignore_index=True)
/var/folders/pb/3lx26r911cxc2w5l51508hwm0000gn/T/ipykernel_4766/2772976205.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  resultDF = resultDF.append({'Event_Name': events_data.iloc[i[0]]['Event_Name'], 'Event_Cat': events_data.iloc[i[0]]['Event_Cat'], 'TestData': events_data.iloc[i[0]]['TestData'], 'score': i[1]}, ignore_index=True)

In [74]:
 json_result = json.dumps(resultDF.to_dict('records'))

In [76]:
resultDF

,Event_Name,Event_Cat,TestData,score
0,Spring foraging workshop,food-and-drink--events,join julie wild food ways wild food foraging w...,0.308607
1,Coffee & Connect Networking Meeting Portadown,business--events,meet local business womenmeet local business w...,0.246183
2,Strawberry Vanilla Shake IPA Launch Party,food-and-drink--events,toast return rascals favourite!toast return ra...,0.246183
3,One Dublin One Book - Tales from the Archives,community--events,"one dublin one book author, andrew hughes, tal...",0.246183
4,Movement & Mobility (Omagh),sports-and-fitness--events,"practical workshop teach body, learn assess yo...",0.238197